/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* Global CSS */

:root {
	--main-color: #7857fe;
	--color-1: #e91e63;
	--color-2: #f5ae10;
	--color-3: #09d69c;
	--bg-dark: #2b2c2f;
	--color-4: #09d69c;
	--main-to-dark-color: var(--main-color);
	--dark-to-main-color: var(--bg-dark);
	--shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
	--shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
	--black-900: #000000;
	--black-400: #555555;
	--black-300: #c2c2c2;
	--black-100: #f7f7f7;
	--black-000: #ffffff;
	--black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	overflow-x: hidden;
	background-color: #fff;
}

body.dark {
	background-color: var(--bg-dark);
	--black-100: var(--bg-dark);
	--black-000: var(--bg-dark);
	--main-to-dark-color: var(--bg-dark);
	--dark-to-main-color: var(--main-color);
	--shadow-black-100: var(--shadow-black-300);
	--black-alpha-100: rgba(225, 225, 225, 0.05);
	--black-900: #fff;
	--black-400: #bbb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
	outline: none imp !important;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn1 {
	background: #fff;
	padding: 12px 30px;
	border: none;
	border-radius: 30px;
	color: var(--main-color);
	font-size: 16px;
	text-transform: capitalize;
	transition: all 0.3s ease;
	-webkit-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
}

.btn1:hover {
	-webkit-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
	font-weight: 500;
	background-color: var(--main-color);
	color: #fff;
}

.btn2 {
	background: var(--main-color);
	padding: 12px 30px;
	border: none;
	border-radius: 30px;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	transition: all 0.3s ease;
	-webkit-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
}

.btn2:hover {
	-webkit-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
	font-weight: 500;
	background-color: #fff;
	color: var(--main-color);
}

.section-padding {
	padding: 4rem 0;
}

@keyframes spin_01 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes bounceTop_01 {
	0%,
	100% {
		transform: translateY(-20px);
	}
	50% {
		transform: translateY(20px);
	}
}

@keyframes pulse_01 {
	0% {
		transform: scale(0.94);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.47);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
	}
	100% {
		transform: scale(0.94);
		box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
	}
}

@keyframes zoomInOut {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.effect-wrap .effect {
	position: absolute;
	z-index: -1;
}

.effect-wrap .effect-1 {
	left: 20%;
	top: 20%;
	font-size: 25px;
	color: var(--color-2);
	animation: spin_01 5s linear infinite;
}

.effect-wrap .effect-2 {
	right: 5%;
	top: 10%;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.5);
	animation: spin_01 5s linear infinite;
}

.effect-wrap .effect-3 {
	left: 5%;
	bottom: 10%;
	font-size: 25px;
	color: var(--color-3);
	animation: bounceTop_01 3s linear infinite;
}

.owl-nav {
	display: none;
}

.owl-carousel .owl-dots {
	padding: 0 15px;
	text-align: center;
	margin-top: 20px;
}

.owl-carousel button.owl-dot {
	height: 8px;
	width: 30px;
	background-color: #ddd;
	margin: 0 4px;
	border-radius: 5px;
}

.owl-carousel button.owl-dot.active {
	background-color: var(--main-color);
}

/* Navbar */

.navbar {
	/* background-color: transparent; */
	background-color: var(--main-color) !important;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.navbar > .container {
	padding: 15px 0;
}

.navbar.navbar-shrink {
	-webkit-box-shadow: 0px 20px 6px -17px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 20px 6px -17px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 20px 6px -17px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
	font-size: 30px;
	color: #ffffff;
	font-weight: 500;
	text-transform: capitalize;
}

.navbar-nav .nav-item .nav-link {
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	cursor: pointer;
}

.navbar-nav .nav-item .nav-link:hover {
	color: white;
}

.navbar-nav .nav-item .nav-link::before {
	content: '';
	display: block;
	position: relative;
	/* width: 100px; */
	height: 1.5px;
	margin: 0px auto;
	top: 30px;
	background-color: #fff;
	transition: all 0.5s ease;
	transform: scale(0);
}

.navbar-nav .nav-item .nav-link.active::before,
.navbar-nav .nav-item .nav-link:hover::before {
	transform: scale(1);
}

.navbar-max-cont {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-brand {
	color: #fff !important;
}

.navbar-nav .nav-link.active {
	color: #fff !important;
}

@media screen and (max-width: 991px) {
	.navbar-toggler {
		background-color: var(--dark-to-main-color);
		box-shadow: var(--shadow-black-300);
		/* width: 44px; */
		/* padding: 0; */
		height: 40px;
		font-size: 16px;
		color: #fff;
	}
	.navbar-toggler i {
		color: #fff;
		font-size: 20px;
	}
	.navbar-nav {
		background-color: var(--dark-to-main-color);
		padding: 0 1rem;
	}
	.navbar.navbar-shrink .navbar-toggler,
	.navbar.navbar-shrink .navbar-nav {
		background-color: var(--main-color);
	}
}

/* Home */

.home-max-cont {
	min-height: 100vh;
	padding: 180px 10px;
	background-color: var(--main-to-dark-color);
	border-radius: 0 0 200px 0;
	position: relative;
	z-index: 1;
}

.home-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-content: center;
	align-items: center;
	/* padding: 0 4rem; */
}

@media screen and (max-width: 768px) {
	.home-max-cont {
		padding: 170px 20px;
	}
	.home-container {
		padding: 0;
	}
}

.image-home {
	text-align: center;
	position: relative;
}

.image-home img {
	width: 80%;
	max-width: 360px;
	box-shadow: var(--shadow-black-100);
	border-radius: 32px;
	animation: bounceTop_01 3s ease infinite;
}

.info .title {
	padding-top: 4rem;
}

.info .title h1 {
	font-size: 45px;
	font-weight: 700;
	color: #fff;
	margin: 0 0 20px;
}

.info .description p {
	font-style: 18px;
	line-height: 28px;
	color: #fff;
	font-weight: 300;
}

@media screen and (max-width: 768px) {
	.info .title h1 {
		padding: 1rem;
		font-size: 30px;
	}
	.info .description p {
		font-size: 17px;
		padding: 1rem;
	}
}

.image-home .circle {
	position: absolute;
	z-index: 1;
	height: 400px;
	width: 400px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.info-btns .video-play {
	margin-left: 30px;
	height: 50px;
	width: 50px;
	padding: 0;
	animation: pulse_01 2s ease infinite;
}

.info .info-btns {
	margin-top: 70px;
}

.image-home .circle::before {
	content: '';
	position: absolute;
	height: 60px;
	width: 60px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	left: 30px;
	top: 30px;
	transform-origin: 170px 170px;
	animation: spin_01 10s linear infinite;
}

@media screen and (max-width: 768px) {
	.image-home .circle::before {
		animation: unset;
		height: 0;
		width: 0;
	}
	.image-home .circle {
		border: none;
		width: auto;
	}
	.image-home img {
		width: 70%;
	}
}

/* Video Pop Up */

.video-popup {
	padding: 30px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1999;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
}

.video-popup.open {
	opacity: 1;
	visibility: visible;
}

.video-popup-inner {
	width: 100%;
	max-width: 900px;
	/* background-color: red; */
	position: relative;
}

.video-popup .iframe-box {
	height: 0px;
	overflow: hidden;
	padding-top: 56%;
}

.video-popup #player-1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.video-popup .video-popup-close {
	position: absolute;
	right: 0;
	top: -30px;
	height: 30px;
	width: 30px;
	/* background-color: red; */
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	color: #fff;
}

/* Features */

/* .features-max-cont {
  margin-top: 4rem;
} */

.features-cont .features-title {
	text-align: center;
	color: var(--black-900);
}

.features-cont .features-title span {
	color: var(--main-color);
}

.features-carousel-cont {
	/* padding: 0 4rem; */
}

@media screen and (max-width: 768px) {
	.features-carousel-cont {
		padding: 0 2rem;
	}
}

.features-carousel-cont .feature {
	box-shadow: var(--shadow-black-100);
	margin: 15px;
	padding: 1rem;
	border-radius: 10px;
	text-align: center;
	position: relative;
	z-index: 1;
}

.features-carousel-cont .feature::before,
.features-carousel-cont .feature::after {
	content: '';
	position: absolute;
	z-index: -1;
	border-radius: 50%;
}

.features-carousel-cont .feature::before {
	height: 20px;
	width: 20px;
	background-color: var(--color-1);
	left: 0px;
	top: 40%;
	opacity: 0;
	transition: all 0.5s ease;
}

.features-carousel-cont .feature:hover::before {
	opacity: 1;
	left: 15px;
}

.features-carousel-cont .feature::after {
	height: 30px;
	width: 30px;
	background-color: var(--color-2);
	right: 0px;
	top: 80%;
	opacity: 0;
	transition: all 0.5s ease;
}

.features-carousel-cont .feature:hover::after {
	opacity: 1;
	right: 15px;
}

.features-carousel-cont .feature .icon {
	height: 50px;
	width: 50px;
	display: block;
	margin: 0 auto;
	/* margin: 2rem 0; */
	position: relative;
	z-index: 1;
	text-align: center;
	font-size: 30px;
}

.features-carousel-cont .feature:hover .icon i {
	color: #fff;
	font-size: 20px;
}

.features-carousel-cont .feature .icon::before {
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-color);
	transition: all 0.5s ease;
	z-index: -1;
	opacity: 0;
}

.features-carousel-cont .feature:hover .icon::before {
	left: 0;
	border-radius: 50%;
	opacity: 1;
}

.features-carousel-cont .feature .icon i {
	font-size: 23px;
	color: var(--main-color);
}

.features-carousel-cont .feature h5 {
	font-size: 22px;
	margin: 0 0 20px;
	color: var(--black-900);
	font-weight: 500;
	text-transform: capitalize;
}

.features-carousel-cont .feature p {
	font-size: 16px;
	font-weight: 300;
	color: var(--black-400);
}

/* Fun Facts */

.func-facts-max-container {
	background-color: var(--black-alpha-100);
}

.func-facts-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
	align-items: center;
	/* padding: 0 4rem; */
}

.func-facts-container .fun-fact-img {
	width: 70%;
	/* max-width: 400px; */
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.func-facts-container .fun-fact-img {
		width: 70%;
		max-width: 400px;
		text-align: center;
	}
}

.fun-fact-img img {
	width: 80%;
}

.func-facts-info {
	padding: 1rem;
}

.func-facts-info .title h4 {
	text-transform: capitalize;
	color: var(--black-900);
}

.func-facts-info .title span {
	color: var(--main-color);
}

.func-facts-info .statistics {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); */
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	align-content: center;
	grid-gap: 0.5rem;
	/* margin: 0 4rem; */
}

.func-facts-info .text {
	color: var(--black-400);
}

.statistics .static {
	text-align: center;
	color: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-transform: uppercase;
	/* margin: 0 4rem; */
}

.statistics .downloads {
	background-color: var(--color-1);
	height: 10rem;
}

.statistics .likes {
	background-color: var(--color-2);
	height: 10rem;
}

.statistics .rating {
	background-color: var(--color-3);
	height: 10rem;
}

.statistics .shared {
	background-color: var(--main-color);
	height: 10rem;
}

.static .number-show {
	font-size: 2rem;
	font-weight: 700;
}

/* Screen Shots */

/* .app-screenshot-max-container {
  margin-top: 4rem;
} */

.app-screenshot-max-container h4 {
	text-align: center;
	color: var(--black-900);
	padding-bottom: 2rem;
}

.app-screenshot-max-container span {
	color: var(--main-color);
}

.screen-images-carousel {
	/* padding: 3rem 3rem 0 3rem; */
}

.screen-images-carousel .screen-image {
	text-align: center;
}

.screen-image img {
	/* padding: 0 3rem; */
	width: 100%;
	/* max-width: 250px; */
}

.owl-item {
	text-align: center;
}

/* Download app */

.app-download-container {
	background-color: var(--black-alpha-100);
}

.app-download-container .titulo {
	text-align: center;
	color: var(--black-900);
}

.app-download-container .titulo span {
	color: var(--main-color);
}

.app-downloads {
	background-image: url('../img/download-section/image-bg.jpg');
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% -17%;
	background-attachment: fixed;
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1rem;
	margin-top: 3rem;
	justify-content: space-around;
	align-items: center;
	padding: 1rem 4rem;
}

@media screen and (max-width: 768px) {
	.app-downloads {
		height: auto;
		background-position: 80% -17%;
		background-position-y: 150px;
	}
}

.app-downloads::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-to-dark-color);
	opacity: 0.5;
	z-index: -1;
}

.app-download-item {
	padding: 1rem;
	color: #fff;
	box-shadow: var(--shadow-black-300);
	margin: 0.5rem;
	text-align: center;
}

.app-download-item i {
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.app-download-item h5 {
	text-transform: capitalize;
}

.app-download-item p {
	font-size: 0.8rem;
}

/* How it work */

.how-it-works-max-conatiner .titulo {
	text-align: center;
	color: var(--black-900);
}

.how-it-works-max-conatiner .titulo span {
	color: var(--main-color);
}

.works-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 2rem;
	padding: 0 4rem;
	text-align: center;
	margin-top: 3rem;
}

.works-items h5 {
	font-weight: 500;
}

.works-items p {
	font-size: 0.8rem;
}

.work-item {
	text-align: center;
	position: relative;
	z-index: 1;
}

.work-item.linea::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	right: -150px;
	top: 25px;
	background-color: var(--main-color);
	z-index: -1;
}

@media screen and (max-width: 768px) {
	.work-item.linea::before {
		width: 0;
	}
}

.work-item .step {
	background-color: var(--main-color);
	width: 50px;
	height: 50px;
	/* display: flex; */
	line-height: 50px;
	display: inline-block;
	margin: 0 auto;
	border-radius: 100%;
	color: #fff;
	font-weight: 600;
	margin-bottom: 3rem;
}

.work-item h5 {
	color: var(--black-900) !important;
}

.work-item p {
	color: var(--black-400) !important;
}

.work-item .step.linea::before {
	content: '';
	position: absolute;
	right: 0px;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 2px;
	background-color: var(--main-color);
	/* transition: all 0.5s ease; */
	z-index: -1;
}

/* Testimonials */

.testimonials-max-cont {
	background-color: var(--black-alpha-100);
}

.testimonials-max-cont .titulo {
	text-align: center;
	color: var(--black-900);
}

.testimonials-max-cont .titulo span {
	color: var(--main-color);
}

.testimonials {
	padding: 0 4rem;
	margin-top: 3rem;
}

@media screen and (max-width: 768px) {
	.testimonials {
		padding: 0;
	}
}

.testimonials .testimonio {
	text-align: center;
	box-shadow: var(--shadow-black-100);
	/* max-width: 250px; */
	margin: 1rem 1rem;
	padding: 1rem;
}

.testimonials .testimonio .img-box {
	width: 100px;
	display: inline-block;
	height: 100px;
	border-radius: 50%;
	border: 4px solid var(--main-color);
	margin: 0 auto 2rem;
}

.testimonials .testimonio img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.testimonials .testimonio h5 {
	color: var(--black-900);
}

.testimonials .testimonio p {
	font-size: 0.8rem;
	color: var(--black-400);
}

.testimonials .testimonio .prof {
	color: var(--black-400);
	font-size: 0.6rem;
	text-transform: uppercase;
}

.testimonio .fa-star {
	color: var(--color-2);
	/* font-size: 3rem; */
}

/* Pricing */

.price-max-container .title {
	margin-bottom: 3rem;
	color: var(--black-900);
}

.price-max-container .title span {
	color: var(--main-color);
}

.types-price {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
	/* padding: 0 4rem; */
}

@media screen and (max-width: 768px) {
	.types-price {
		padding: 0 1rem;
	}
}

.types-price .item-price {
	text-align: center;
	/* max-width: 300px; */
	/* margin: 0 auto; */
	padding: 1rem 0;
	box-shadow: var(--shadow-black-100);
}

.types-price .item-price .price-header {
	border-bottom: 1px solid var(--black-300);
	padding-bottom: 1rem;
	color: var(--black-900);
}

.types-price .item-price .price-body {
	padding: 1rem 1rem 0 1rem;
}

.types-price .item-price .price-number {
	color: var(--main-color);
	display: flex;
	justify-content: center;
	margin: 2rem 0;
}

.price-number .price {
	font-size: 3rem;
	font-weight: 700;
	line-height: 0.7;
}

.price-number .currency {
	font-size: 0.8rem;
	font-weight: 300;
	align-self: flex-start;
}

.price-number .period {
	font-size: 0.7rem;
	font-weight: 300;
	line-height: 0.7;
	align-self: flex-end;
	text-transform: uppercase;
}

.types-price .item-price .price-header h6 {
	font-weight: 600;
}

.types-price ul {
	text-align: left;
	color: var(--main-color);
}

.types-price ul li {
	display: flex;
	/* justify-content: space-between; */
}

.types-price ul li i {
	margin-right: 2rem;
}

.types-price ul li p {
	font-size: 0.8rem;
}

/* Team */

.team-max-contaiener {
	background-color: var(--black-alpha-100);
}

.team-max-contaiener .title {
	text-align: center;
	color: var(--black-900);
}

.team-max-contaiener .title span {
	color: var(--main-color);
}

.team-item {
	text-align: center;
	box-shadow: var(--shadow-black-100);
	margin: 1rem 0.2rem;
	padding: 1rem;
}

.team-item .name {
	text-align: left;
	font-weight: 500;
	/* margin-left: 1rem; */
	margin: 0.5rem 0 0 1rem;
}

.team-item .cargo {
	text-align: left;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.7rem;
	/* margin-left: 1rem; */
	margin: 0.5rem 0 0 1rem;
}

.team-item .image-dev img {
	max-height: 170px;
	max-width: 300px;
	margin: 0 auto;
}

.team-item p {
	color: var(--black-400);
}

/* FAQ */

.faq-max-container span {
	color: var(--main-color);
}

.faq-max-container .titulo {
	margin-bottom: 2rem;
	color: var(--black-900);
}

.accordion-button:not(.collapsed) {
	background-color: var(--main-color);
	color: #fff;
}

.accordion-body {
	background-color: var(--black-100);
}

.accordion-body p {
	font-size: 0.9rem;
	color: var(--black-400);
}

.accordion-item {
	box-shadow: var(--shadow-black-100);
}

/* Get in touch */

.get-in-touch-max-container {
	/* text-align: center; */
	background-color: var(--black-alpha-100);
	/* padding: 0 2rem; */
}

.get-in-touch-max-container .title {
	color: var(--black-900);
}

.get-in-touch-max-container .title span {
	color: var(--main-color);
}

.get-in-touch {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: 30% auto;
	/* padding: 0 4rem; */
}

@media screen and (max-width: 768px) {
	.get-in-touch {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
	.info-touch {
		text-align: center;
	}
}

.info-touch {
	padding: 0 2rem;
}

.info-touch .title p {
	font-size: 0.8rem;
	font-weight: 600;
	text-transform: capitalize;
}

.item-info .title {
	font-size: 0.7rem;
}

.item-info .content {
	font-size: 0.6rem;
	color: var(--black-400);
}

.item-info .icon-item-texto {
	display: flex;
	/* justify-content: space-around; */
	align-items: center;
	margin-bottom: 1rem;
}

.icon-item-texto p {
	margin: 0;
}

.icon-item-texto i {
	margin-right: 1.5rem;
	color: var(--main-color);
	border: 1px solid var(--main-color);
	border-radius: 50%;
	padding: 0.5rem;
}

.get-in-touch .formulario {
	text-align: center;
}

.formulario .inputs-name-email {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.8rem;
}

.inputs-name-email .name {
	max-width: 45%;
}

.inputs-name-email .email {
	max-width: 48%;
}

.input-style {
	width: 100%;
	padding: 5px 10px;
	/* margin: 8px 0; */
	display: inline-block;
	border: 1px solid #ccc;
	/* border-radius: 30px; */
	box-sizing: border-box;
	box-shadow: var(--shadow-black-100);
	font-size: 0.7rem;
}

.inputs-phone-subject .phone {
	margin-bottom: 0.8rem;
}

.area-message {
	margin-bottom: 0.8rem;
	background-color: var(--black-100);
}

.area-message textarea {
	background-color: var(--black-00);
}

.inputs-phone-subject .subject {
	margin-bottom: 0.8rem;
}

input[type='text'],
input[type='text-area'] {
	background-color: var(--black-100);
	color: var(--black-400);
}

/* Footer */

.footer-max-container {
	background-color: var(--main-color);
	color: #fff;
}

.footer-cont .footer-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
}

@media screen and (max-width: 768px) {
	.footer-cont .footer-info {
		text-align: center;
	}
}

.footer-info .info-item h6 {
	font-weight: 600;
	margin-bottom: 2rem;
}

.info-item a {
	text-decoration: none;
	color: #fff;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
	transition: 0.3s;
}

.info-item a:hover {
	padding-left: 0.5rem;
}

.footer-copy-right {
	border-top: 0.3px solid #fff;
	margin-top: 2rem;
	padding-top: 1rem;
	text-align: center;
}

/* Toogle theme */

.toogle-theme {
	position: fixed;
	right: 0;
	top: calc(50% - 20%);
	height: 40px;
	width: 40px;
	background-color: var(--dark-to-main-color);
	z-index: 12000;
	color: #fff;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: var(--shadow-black-300);
	font-size: 16px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Preloader */

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 12001;
	background-color: var(--main-to-dark-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.preloader span {
	display: block;
	height: 60px;
	width: 60px;
	background-color: var(--dark-to-main-color);
	border-radius: 50%;
	animation: zoomInOut 1s ease infinite;
}

.footer-copy-right {
	border-top: 0.3px solid #fff;
	margin-top: 2rem;
	padding-top: 1rem;
	text-align: center;
}

.footer-copy-right a {
	text-decoration: none;
}
